version: "3.8"

services:
  product-service:
    build: ./product-service
    ports:
      - "8081:8080"
    networks:
      - microservices-net
    environment:
      SPRING_PROFILES_ACTIVE: docker
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  order-service:
    build: ./order-service
    ports:
      - "8082:8080"
    networks:
      - microservices-net
    environment:
      SPRING_PROFILES_ACTIVE: docker
      PRODUCT_SERVICE_URL: http://product-service:8080
    depends_on:
      product-service:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  microservices-net:
    driver: bridge
